footer {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  max-height: 30px;
  color: white;
}


.about-me {
  display: flex;
  max-height: 30px;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
  padding: 5px;
  margin-right: 10px;
}

.about-me > a {
  color: white;
  margin-left: 10px;
  transition-duration: 0.5s;
}

.about-me > a:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.about-me > a:visited {
  color:white;
}
