.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 59px;
  border-bottom: 1px solid lightgray;
  box-shadow: 1px 1px 10px lightgray;
  position: fixed;
  top:0;
  right: 0;
  min-width: 100vw;
  z-index: 1;
}

.home-btn {
  height: 30px;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.profile-box {
  height: 25px;
}

.profile-pic:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.gallery {
  height: 33px;
}

.profile-link{
  display: flex;
  align-items: center;
  height: 30px;
  width: 185px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.users {
  height: 32px;
}

.logo {
  height: 32px;
}

.drop-down {
  display: none;
}

.drop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: 10%;
  top: 56px;
  width: 200px;
  height:70px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px lightgray;
  align-items: flex-start;
  animation-duration: 0.5s;
  animation-name: slidein;
}

.drop-profile {
  display: flex;
  align-items: center;
  width: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.drop-profile > i {
  margin-left: 15px;
}

.drop-profile:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

@media (min-width: 2000px) {
  .drop {
    position: fixed;
    top: 56px;
    right: 20%;
  }
}

.profile-user {
  border-radius: 5px;
  height: 100px;
  margin-left: 30px;
}

.create-post {
  height: 22px;
  margin-top: 2px;
}

a > img {
  transition-duration: 0.5s;
}

a > img:hover {
  transform: scale(1.2);
}

.search-bar {
  position: fixed;
  top: 16px;
}

.search-bar > input {
  border: 0;
  background-color: rgb(243, 236, 236);
  height: 30px;
  width: 200px;
  border-radius: 10px;
  margin-right: 10px;
}

.search-cancel {
  display: flex;
  justify-content: flex-end;
  margin-top: -25px;
  margin-right: -10px;
}

.search-cancel > i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.search-cancel > label > i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.search-bar > i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.search-bar > input:focus {
  outline-color: rgb(243, 236, 236);
}

.results-box {
  display: none;
  background-color: white;
  position: fixed;
  top: 10px;
  width: 170px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px lightgray ;
}

.show-results {
  display: block;
  background-color: white;
  position: fixed;
  top: 55px;
  width: 200px;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 1px 1px 10px lightgray ;
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from{
    margin-top: -20px;
    opacity: 0.5;
  }

  to {
    margin-top: 0px;
    opacity: 1;
  }

}

.show-results::-webkit-scrollbar {
  display: none;
}


.result-user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.result-user-info:hover {
  cursor: pointer;
  background-color: whitesmoke;
  width: 100%;
}

.result-user-info > img {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
