.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 59px;
  border-bottom: 1px solid lightgray;
  box-shadow: 1px 1px 10px lightgray;
  position: fixed;
  top:0;
  right: 0;
  min-width: 100vw;
}

.home-btn {
  height: 30px;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.profile-box {
  height: 25px;
}

.profile-pic:hover {
  cursor: pointer;
}

.gallery {
  height: 33px;
}

.profile-link{
  display: flex;
  align-items: center;
  height: 30px;
  width: 185px;
}

.profile-link:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.users {
  height: 32px;
}

.logo {
  height: 32px;
}

.drop-down {
  display: none;
}

.drop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: 200px;
  top: 56px;
  width: 200px;
  height:100px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px lightgray;
  align-items: flex-start;
}

.profile-container {
  display: flex;
  width: 60vw;
  border-bottom: 1px solid lightgray;
  padding: 20px;
}

.profile-user {
  border-radius: 5px;
  height: 100px;
  margin-left: 30px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 70px;
}

.create-post {
  height: 22px;
  margin-top: 2px;
}
