.previous-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prev-img-box > img {
  height: 40px;
  margin: 10px;
}

.img-prev {
  height: 40px;
  object-fit: contain;
}

.edit-post-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  transform: scale(1.1);
}
