.post {
  margin-bottom: 30px;
  max-width: 600px;
}

.tile-posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 65vw;
  padding: 30px;
}

.post-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 200px;
  max-width: 300px;
  margin: 10px 25px;
  contain: content;
  background-color: black;
}

.post-preview > img {
  max-height: 200px;
  width: 100%;
}

.comments-tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  position: absolute;
  color: white;
  min-height: 200px;
  min-width: 300px;
  opacity: 0;
  transition-duration: 0.5s;
}


.comments-tiles:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.2);
}


.comments-tiles > p {
  margin-left: 10px;
}

.posts-test {
  display: flex;
  align-items: baseline;
  color: whitesmoke;
  position: absolute;
  justify-content: flex-end;
  width: 300px;
  height: 50px;
  margin-right: 30px;
  font-size: 30px;
  margin-bottom: 100px;
}

.comments-tiles > p {
  margin-right: 10px;
}

.to-the-top {
  position: fixed;
  bottom: 40px;
  right: 10px;
  font-family: 'Bebas Neue';
  background-color: lightgray;
  border: 0;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: white;
  transition-duration: 0.3s;
}

.to-the-top:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 10px lightgray;
  transform: scale(1.1);
}
