.single-post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  height: 60vh;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.post-name {
  display: flex;
  justify-content: center;
}

.image-btns {
  display: flex;
  justify-content: space-around;
  min-width: 10vw;
  position: fixed;
  bottom: 200px;
}

.image-btns > button {
  background-color: transparent;
  margin: 1px;
  color: white;
  border: 0;
}

.single-post-img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 60vh;
}

.image-title {
  position: fixed;
  top: 200px;
}

.single-post-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 100%;
  max-height: 30vh;
}


.single-post-img > img {
  max-height: 30vh;
  max-width: 35vw;
}

.delete-img {
  color: white;
  background-color: transparent;
  border: 0;
}

.single-post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  height: 60vh;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.poster-img > img {
  height: 40px;
  border-radius: 5px;
}

.poster-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 100px;
}

.date {
  margin-top: -5px;
  max-height: 5px;
}
.poster-info {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding:20px;
  max-width: 37vw;
  min-width:37vw;
}

.poster-content {
  margin-left: 15px;
}

.poster-content > p {
  font-family: 'Helvetica';
  font-size: 12px;
}

.post-contents {
  display: flex;
  min-height: 100px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(211, 211, 211, 0.1);
  padding: 20px;
  max-width: 37vw;
  min-width:37vw;
}

.comment-box {
  display: block;
  overflow-x: hidden;
  border-bottom: 1px solid lightgray;
  height:100vh;
  max-width: 40vw;
  box-sizing: content-box;
}

.comment-box::-webkit-scrollbar {
  display: none;
}

.comment-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15px;
  max-width: 37vw;
}

.comment-content > p {
  font-family: 'Helvetica';
  font-size: 12px;
  word-wrap: break-word;
}

.the-comment {
  margin-top: 0;
  max-width: 31vw;
  word-wrap: break-word;
}

.current-post-desc {
  max-width: 31vw;
  word-wrap: break-word;
}

.current-img {
  max-width: 35vw;
  max-height: 30vh;
}

.create-comment {
  display: flex;
  align-items: flex-end;
  height: 100px;
  padding: 20px;
}

.likes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */
  bottom: 240px;
  margin-left: 15px;
}

.likes:hover {
  cursor: pointer;
}

.chat:hover {
  cursor: pointer;
}

#newComment {
  position:fixed;
  bottom:180px;
  width: 34vw;
}

.comment-btns > button {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  margin-right: 5px;
  transition-duration: 0.3s;
}

.comment-btns > button:hover {
  color: white;
  background-color: black;
  border-radius: 5px;
  transform: scale(1.2);
}
