.single-post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  height: 60vh;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.post-name {
  display: flex;
  justify-content: center;
}

.single-post-img {
  background-color: black;
  height: 60vh;
}

.single-post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  height: 60vh;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.poster-img > img {
  height: 40px;
  border-radius: 5px;
}

.poster-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poster-info {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding:20px;
}

.poster-content {
  margin-left: 15px;
}

.poster-content > p {
  font-family: 'Helvetica';
  font-size: 12px;
}

.post-contents {
  display: flex;
}

.comment-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid lightgray;
  height:18vh;
  width: 35vw;
  position:fixed;
  bottom: 276px;
}

.comment-box::-webkit-scrollbar {
  display: none;
}

.comment-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
  width: 300px;
}

.comment-content > p {
  font-family: 'Helvetica';
  font-size: 12px;
}

.single-post-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-post-img > img {
  width: 35vw;
}

.create-comment {
  display: flex;
  align-items: flex-end;
  height: 100px;
  padding: 20px;
}

.likes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 240px;
  margin-left: 15px;
}

.likes:hover {
  cursor: pointer;
}

.chat:hover {
  cursor: pointer;
}

#newComment {
  position:fixed;
  bottom:180px;
  width: 34vw;
}
