.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  width: 35vw;
  height: 65vh;
  background-color: white;
}

.login-logo {
  height: 160px;
  margin-left: 25px;
  margin-top: 10px;
}

.login-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 25px;
}

.login-container > form input {
  height: 25px;
  width: 292px;
  margin-bottom: 5px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.login-container > form > button {
  background-color: black;
  border: 0;
  color: white;
  margin-top: 5px;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Bebas Neue';
}

.login-container > form > button:hover {
  cursor: pointer;
}

.login-sign-up {
  display: flex;
  align-items: center;
  height: 16px;
  margin-top: 10px;
}

.login-sign-up > a {
  text-decoration: none;
  color: red;
}

.demo-btn {
  display: flex;
  font-size: 16px;
}

.demo {
  background-color: transparent;
  border: 0;
  font-family: 'Bebas Neue';
  font-size: 16px;
  color: red;
  height: 16px;
}

.demo:hover {
  cursor: pointer;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  width: 35vw;
  height: auto;
  background-color: white;
}

.sign-up-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 25px;
}

.sign-up-container > form input {
  height: 25px;
  width: 292px;
  margin-bottom: 5px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.aws-upload {
  opacity: 0;
}

.sign-up-container > form > button {
  background-color: black;
  border: 0;
  color: white;
  margin-top: 5px;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Bebas Neue';
}

.login-container > form > button:hover {
  cursor: pointer;
}

.aws:hover {
  cursor: pointer;
}

.cancel-sign-up {
  text-decoration: none;
  color: red;
  margin-top: 5px;
}
